@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-image: url(../assets/bg.png);
}

header,main,.main-last-contents{
    width: 1158px;
    margin: 0 auto;
    
}

.work-sans-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

.display-flex{
    display: flex;
}

/* header styles */
.header-logo{
    gap: 10px;
}

.nav-lists{
    list-style: none;
    display: flex;
}

.nav-lists-1,.nav-list-2,.nav-list-3,.nav-list-4{
    margin-left: 20px;
}

.nav-list-1{
    color: #FEA301;
}
.nav-list-2{
    color: #01ACFD;
}
.nav-list-3{
    color: rgba(5, 212, 223, 1);
}
.nav-list-4{
    color: rgba(93, 88, 239, 1);
}

.orange-button{
    background-color: #FEA301;
    color: white;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
    height: 50px;

}

.header-logo>img{
    height: 62px;
}


.header-content{
    justify-content: space-between;
}


.header-content-small{
    display: none;
}


/* main styles */

.main-first-text{
    text-align: left;
    font-size: 56px;
}
.main-first-description{
    font-size: 20px;
    font-weight: 400px;
}
.main-first-button{
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px 47px;
    border-radius: 12px;
}

.main-first{
    display: flex;
    align-items: center;
}

.main-second-heading{
    text-align: center;
    font-size: 46px;
    margin-top: 60px;
}

.main-second-box-1{
    text-align: center;
    width: 367px;
    height: 476px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    
}

.main-second-box-2{
    text-align: center;
    width: 367px;
    height: 476px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background: linear-gradient(to bottom, #FFF4DC, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    
}

.main-second-box-3{
    text-align: center;
    width: 367px;
    height: 476px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background: linear-gradient(to bottom, #F2E8FF, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

.main-second-box-inside{
    padding: 92px 40px 52px 40px;
}

.main-second-box-readmore-1{
    color: #64C8FF;
    font-weight: 800px;
}
.main-second-box-readmore-2{
    color: orange;
    font-weight: 800px;
}
.main-second-box-readmore-3  {
    color:  violet;
    font-weight: 800px;  
}

.main-second-boxes{
    display: flex;
    justify-content: space-between;
}

.main-second-arrows{
    border-radius: 50%;
    border: 0px;
    background-color: orange;
}


/* main third */

.main-third-heading{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

#main-third-button{
    background-color:black;  
}

.main-third-button-div{
    display: flex;
    /* justify-content: center; */
    margin-top: 80px;
    margin-bottom: 60px;
    /* text-align: center; */
}

.main-third-contents{
    display: flex;
    /* width: 100%; */
    gap: 20px;
    /* align-items: center; */
}

.main-third-outer-section{
    background: linear-gradient(to top, #FFF4DC, #ffffff);
}

.main-third-box{
    width: 540px;
    height: 650px;
    background-color: white;
    border: none;
    border-radius: 16px;
}
.main-third-box-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px ;
}

.main-third-box-texts{
    margin-top: 58px;
    padding: 18px;
}

.main-third-box-heading{
    font-size: 24px;
    font-weight: 700px;
}


.main-third-box-description{
    margin-top: 47px;
    font-size: 15px;
}

.main-third-box-date{
    background-color: aqua;
    border-radius: 47px;
    color: white;
    height: 47px;
    width: 174px;
    text-align: center;
    margin-top: -30px;
    margin-right: 38px;
    position: absolute;
}

#main-third-box-2,#main-third-box-3,#main-third-box-4,#main-third-box-5{
    width: 290px;
    height: 320px;
}

#main-third-box-texts-2,#main-third-box-texts-3{
    /* font-size: 15px; */
    padding: 10 px;
    margin-top: 0px;
}

.main-third-box-heading-2{
    font-size: 15px;
}

#main-third-box-date-2,#main-third-box-date-3,#main-third-box-date-4,#main-third-box-date-5{
    background-color: #95B226;
}

.main-third-content-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/* main-last */


.main-last-contents{
    color: white;
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #01ACFD;
}
.main-last-texts{
    text-align: left;
    width: 400px;
}

.main-last-text-title{
    display: flex;
    height: 81px;
    width: 300px;
    gap: 10px;
}

/* .main-last-text-title>img{
    background-color: white ;
    color: white;
} */

/* .nav-lists-last{
    list-style: none;
} */

/* .main-last-navs{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.main-last-icon{
    display: flex;
    gap: 10px;
}


@media screen and (max-width:576px) {
    header,main,footer{
        width: 90%;
        margin: 0 auto;
    }
    /* header styles */
    .header-content-small{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        border-bottom: 1px solid #FEA301 ;
    }
    /* .header-content-small-icon{
        display: flex;
        justify-content: flex-end;
    } */
    .header-content-small-icon{
        margin-left: 17rem;
    }
    .header-logo{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .orange-button{
        display: none;
    }

    /* main styles */
    /* main first */
    .main-first{
        flex-direction: column-reverse;
    }
    .main-first-text-contents{
        justify-content: center;
        text-align: center;
    }
    .main-first-text{
        text-align: center;
        font-size: 32;
    }
    .main-first-description{
        font-size: 14px;
    }

    /* main second */
    .main-second-boxes{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* main third */

    .main-third-content-1{
        display: none;
    }
    .main-third-content-2{
        grid-template-columns: repeat(2,1fr);
        width: 20rem;
        height: auto;
    }
    #main-third-box-2,#main-third-box-3,#main-third-box-4,#main-third-box-5{
        width: 100%;
    }
}